

<!DOCTYPE html>

<html lang="en">
    <head><title>Academia da Cidade</title>
    </head>
      
    <body>
    	<h1><center><a href="@routes.Application.index()">RECILIFE</a></center></h1> 
    	<br>
    	<center><img src="./public/img/logo.jpg" border="0" /></center> 
    	<br>
    	<br>

		<center><h2>ACADEMIA DA CIDADE</h2><br></center>
		
		(texto sobre academia da cidade)
		
		<br><br><br>

		<h3>Como se inscrever</h3>
		
		(texto sobre como se inscrever)
		
		<br><br><br>
		
		<h3>Lista das Academias da Cidade do Recife</h3>
		<br>
		
		<p>
		<b>Lista</b>
		
		
		<br><br>
		
		
			
    </body>
</html>



