

<!DOCTYPE html>

<html lang="en">
    <head><title>Academia da Cidade</title>
    </head>
      
    <body>
    	<h1><center><a href="@routes.Application.index()"><img src="@routes.Assets.at("img/logo.jpg")" border="0" /></a></center></h1> 
    	<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3> 
		<br>	
		<br>

		<center><h2>ACADEMIA DA CIDADE</h2><br></center>
		
		A Academia da Cidade é um projeto que visa oferecer mais qualidade de vida para os moradores da cidade do Recife, que tem acesso gratuito a equipamentos e profissionais de educação física em espaços públicos de lazer.<br><br>
		A iniciativa, realizada em parceria com o Governo do Estado, reforma tradicionais áreas verdes, potencializando o local com equipamentos para a prática de esportes e para o incentivo a hábitos saudáveis.<br><br>
		O Recife conta hoje com 33 polos prestando serviços à população, sendo nove construídos por meio dessa ação conjunta.<br><br>
		Para oferecer toda assistência necessária à população, atualmente a Prefeitura conta com quase 100 profissionais das áreas de Educação Física, atuando nas unidades do programa.<br><br>
		Em média, são realizados 60 mil atendimentos por mês. As atividades realizadas nas Academias da Cidade são dirigidas a pessoas de todas as idades e acontecem de segunda a sexta, das 5h30 às 8h30 e das 17h às 20h.
		
		<br><br><br>

		<h3>Confira as atividades realizadas pelo programa</h3>
		
		- Aulas de ginástica e dança;<br>
		- Práticas corporais para todos os ciclos da vida (ginástica, jogos, dança, esporte, lutas e outros);<br>
		- Rodas de diálogos relacionadas a temas sociais e de saúde;<br>
		- Festivais, serestas, jogos e passeios temáticos;<br>
		- Prescrição de exercícios e orientação nutricional a hipertensos, diabéticos, obesos e cardiopatas;<br>
		- Corrida e caminhada dos usuários do programa;<br>
		- Bloco Carnavalesco do programa;<br>
		- São João do programa;<br>
		- Dia mundial da promoção da qualidade de vida;<br>
		- Seminário de Integração Usuários, Profissionais e Gestores;<br>
		- Estímulo à participação dos usuários em reuniões, fóruns, seminários promovidos pelo programa, conferências, instância de controles sociais e diversos setores internos e externos à Secretaria municipal de Saúde;<br>
		- Organização de práticas corporais e de lazer voltadas aos usuários da rede de saúde.
		
		<br><br><br>

		<h3>Como se inscrever</h3>
		
		APTIDÃO - Quando o aluno chegar pela primeira vez na Academia do Recife receberá um questionário médico.<br>
		Se a pessoa for diagnosticada com alguma doença ou alguma pré-enfermidade, será solicitado que ela, primeiro, procure um médico e volte com um atestado de saúde e de aptidão física.<br>
		Após o preenchimento da ficha médica, o aluno fará sua inscrição e receberá a carteirinha da academia.
		
		<br><br><br>
		
		<h3>Lista das Academias da Cidade do Recife</h3>
		<br>
		
		(lista de todas as academias, lida a partir do BD)
		
		
		<br><br><br>
		
		
			
    </body>
</html>



