

<!DOCTYPE html>

<html lang="en">
    <head><title>Vacinação - Calendário</title>
    </head>
      
    <body>
    <h1><center><a href="@routes.Application.index()"><img src="@routes.Assets.at("img/logo.jpg")" border="0" /></a></center></h1> 
	<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3> 
	<br>	
	<br>
		<center><h2>Calendário de Vacinas</h2></center>
		<br>
		
		A vacina consiste num estímulo ao sistema imunológico responsável pela proteção do nosso organismo.<br>
		Sempre que um vírus ou bactéria invade o corpo o sistema imunológico entra em ação para impedir danos à saúde. <br>
		A vacina é uma forma segura e eficaz de levar o sistema imunológico a desenvolver defesas contra determinadas doenças sem que isso represente contaminação.<br>
		Isso acontece porque as vacinas são compostas por antígenos, substâncias capazes de interagir com o sistema imunológico como: uma bactéria, um vírus ou célula.<br><br>
		
		Esse é o calendário de vacinas oferecido pelo Ministério da Saúde do Brasil e válido em todo território nacional.
		
		<br><br><br><br>

		(lista de todas as vacinas, lida a partir do BD)
		<br>
		
		<br>
		
		
			
    </body>
</html>
