

<!DOCTYPE html>

<html lang="en">
    <head><title>Prevenção-Dengue</title>
    </head>
      
    <body>
    <h1><center><a href="@routes.Application.index()"><img src="@routes.Assets.at("img/logo.jpg")" border="0" /></a></center></h1> 
	<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3> 
	<br>	
	<br>

		<center><h2>Dengue</h2><br></center>
		
		<h4>O QUE É A DENGUE?</h4><br><br>
	A Dengue é uma doença causada por vírus (virose), que tem por sintomas característicos: febre elevada (com duração de até 7 dias, dores musculares e nas juntas, dor de cabeça e nos olhos, falta de apetite e manchas vermelhas no corpo (Dengue Clássica).<br>
	Nem todas as pessoas apresentam estes sintomas. Por isso é importante procurar o serviço de saúde.<br><br>
	
	A Dengue clássica pode apresentar complicações, inclusive com ocorrência de pequenos sangramentos, o que não significa que é dengue	hemorrágica.<br><br>
	
	A Dengue Hemorrágica é a forma grave da doença, e ocorre geralmente quando a pessoa teve dengue anteriormente (a pessoa pode ou não saber).<br>
	A confirmação da dengue hemorrágica é feita por exame clínico (feito pelo médico) e laboratorial.<br>
	Geralmente no 5° dia, a doença pode evoluir	para um estado de gravidade. Neste caso, é importante buscar o serviço de saúde e seguir todas as recomendações médicas.<br><br>
	
	Em qualquer situação, é muito importante beber bastante líquido (água, sucos).<br><br>
						
	<br><br>
							
		<br><br>
		
		
			
    </body>
</html>
