

<!DOCTYPE html>

<html lang="en">
    <head><title>Prevenção-Diabetes</title>
    </head>
      
    <body>
    <h1><center><a href="@routes.Application.index()"><img src="@routes.Assets.at("img/logo.jpg")" border="0" /></a></center></h1> 
	<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3> 
	<br>	
	<br>

		<center><h2>Diabetes</h2><br></center>
		
		Doença provocada pela deficiência de produção e/ou de ação da insulina, que leva a sintomas agudos e a complicações crônicas características.<br><br>
		
		O distúrbio envolve o metabolismo da glicose, das gorduras e das proteínas e tem graves conseqüências tanto quando surge rapidamente como quando se instala lentamente.<br>
		Nos dias atuais se constitui em problema de saúde pública pelo número de pessoas que apresentam a doença, principalmente no Brasil.<br><br>
		
		Apresenta diversas formas clínicas, sendo classificado em:<br><br>
		
		<b>Diabetes Mellitus tipo I:</b><br>
		Ocasionado pela destruição da célula beta do pâncreas, em geral por decorrência de doença auto-imune, levando a deficiência absoluta de insulina.<br><br>
		
		<b>Diabetes Mellitus tipo II:</b><br>
		Provocado predominantemente por um estado de resistência à ação da insulina associado a uma relativa deficiência de sua secreção.<br><br>
		
		<b>Outras formas de Diabetes Mellitus:</b><br>
		Quadro associado a desordens genéticas, infecções, doenças pancreáticas, uso de medicamentos, drogas ou outras doenças endócrinas.<br><br>
		
		<b>Diabetes Gestacional:</b><br>
		Circunstância na qual a doença é diagnosticada durante a gestação, em paciente sem aumento prévio da glicose.<br><br>
							
		<br><br>
		
		
			
    </body>
</html>
