

<!DOCTYPE html>

<html lang="en">
    <head><title>Prevenção-DST</title>
    </head>
      
    <body>
    <h1><center><a href="@routes.Application.index()"><img src="@routes.Assets.at("img/logo.jpg")" border="0" /></a></center></h1> 
	<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3> 
	<br>	
	<br>

		<center><h2>Doenças Sexualmente Transmissíveis</h2><br></center>
		
		As doenças sexualmente transmissíveis (DST) são transmitidas, principalmente, por contato sexual sem o uso de camisinha com uma pessoa que esteja infectada, e geralmente se manifestam por meio de feridas, corrimentos, bolhas ou verrugas. As mais conhecidas são gonorreia e sífilis.<br><br>
		
		Algumas DST podem não apresentar sintomas, tanto no homem quanto na mulher. E isso requer que, se fizerem sexo sem camisinha, procurem o serviço de saúde para consultas com um profissional de saúde periodicamente.<br>
		Essas doenças quando não diagnosticadas e tratadas a tempo, podem evoluir para complicações graves, como infertilidades, câncer e até a morte.<br><br>
		
		Usar preservativos em todas as relações sexuais (oral, anal e vaginal) é o método mais eficaz para a redução do risco de transmissão das DST, em especial do vírus da AIDS, o HIV.<br>
		Outra forma de infecção pode ocorrer pela transfusão de sangue contaminado ou pelo compartilhamento de seringas e agulhas, principalmente no uso de drogas injetáveis.<br>
		A AIDS e a sífilis também podem ser transmitidas da mãe infectada, sem tratamento, para o bebê durante a gravidez, o parto. E, no caso da aids, também na amamentação.<br><br>
		
		O tratamento das DST melhora a qualidade de vida do paciente e interrompe a cadeia de transmissão dessas doenças.<br>
		O atendimento e o tratamento são gratuitos nos serviços de saúde do Sistema Único de Saúde (SUS).<br><br>
							
		<br><br>
							
		<br><br>
		
		
			
    </body>
</html>
