

<!DOCTYPE html>

<html lang="en">
    <head><title>Prevenção-Hipertensão</title>
    </head>
      
    <body>
    <h1><center><a href="@routes.Application.index()"><img src="@routes.Assets.at("img/logo.jpg")" border="0" /></a></center></h1> 
	<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3> 
	<br>	
	<br>

		<center><h2>Hipertensão</h2><br></center>
		
		A hipertensão arterial ou pressão alta é uma doença caracterizada pela elevação dos níveis tensionais no sangue.<br>
		Cerca de 20% da população brasileira é portadora de hipertensão, sendo que 50% da população com obesidade tem a doença.<br><br>
		A hipertensão pode acontecer quando nossas artérias sofrem algum tipo de resistência, perdendo a capacidade de contrair e dilatar, ou então quando o volume se torna muito alto, exigindo uma velocidade maior para circular. Hoje, a hipertensão é a principal causa de morte no mundo, pois pode favorecer uma série de outras doenças.<br><br> 
		
		Quando o seu coração bate, ele contrai e bombeia sangue pelas artérias para o resto do seu corpo. Esta força cria uma pressão sobre as artérias.<br>
		Isso é chamado de pressão arterial sistólica, cujo valor normal é 120 mmHg (milímetro de mercúrio). Uma pressão arterial sistólica de 140 ou mais é considerada hipertensão.<br><br>
		
		A hipertensão é herdada dos pais em 90% dos casos. Em uma minoria, a hipertensão pode ser causada por uma doença relacionada, como distúrbios da tireoide ou em glândulas endocrinológicas, como a suprarrenal. Entretanto, há vários outros fatores que influenciam os níveis de pressão arterial, entre eles:<br><br>
		
		- Fumo<br>
	    - Consumo de bebidas alcoólicas<br>
	    - Obesidade<br>
	    - Estresse<br>
	    - Grande consumo de sal<br>
	    - Níveis altos de colesterol<br>
	    - Falta de atividade física<br>
	    - Diabetes<br>
	    - Sono inadequado<br><br>
	    
	    Além desses fatores de risco, sabe-se que a incidência da hipertensão aumenta com a idade. Isso porque com o passar do tempo nossas artérias começam a ficar envelhecidas, calcificadas, perdendo a capacidade de dilatar - são chamados de vasos menos complacentes. Com isso a hipertensão arterial é mais fácil de acontecer - cerca de 70% dos adultos acima dos 50 ou 60 anos possuem a doença.<br><br>
	    
	    Os sintomas da hipertensão costumam aparecer somente quando a pressão sobe muito: podem ocorrer dores no peito, dor de cabeça, tonturas, zumbido no ouvido, fraqueza, visão embaçada e sangramento nasal.<br><br>
	    
	    O diagnóstico de hipertensão é feito pela medida da pressão. A forma mais comum é a medida casual, feita no consultório com aparelhos manuais ou automáticos. A hipertensão também pode ser diagnosticada por aparelhos que fazem aproximadamente 100 medidas de pressão durante 24 horas.
							
		<br><br>
							
		<br><br>
		
		
			
    </body>
</html>
