

<!DOCTYPE html>

<html lang="en">
    <head><title>Prevenção-Obesidade</title>
    </head>
      
    <body>
    <h1><center><a href="@routes.Application.index()"><img src="@routes.Assets.at("img/logo.jpg")" border="0" /></a></center></h1> 
	<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3> 
	<br>	
	<br>

		<center><h2>Obesidade</h2><br></center>
		
		A obesidade é o acúmulo de gordura no corpo causado quase sempre por um consumo excessivo de calorias na alimentação, superior ao valor usada pelo organismo para sua manutenção e realização das atividades do dia a dia. Ou seja: a obesidade acontece quando a ingestão alimentar é maior que o gasto energético correspondente.<br><br>
		
		A obesidade é determinada pelo Índice de Massa Corporal (IMC) que é calculado dividindo-se o peso (em kg) pelo quadrado da altura (em metros).<br>
		O resultado revela se o peso está dentro da faixa ideal, abaixo ou acima do desejado - revelando sobrepeso ou obesidade.<br><br>
		
		<b>Classificação do IMC:</b><br><br>

Menor que 18,5 Abaixo do peso<br>
Entre 18,5 e 24,9 - Peso normal<br>
Entre 25 e 29,9 - Sobrepeso (acima do peso desejado)<br>
Igual ou acima de 30 - Obesidade.<br><br>

<b>Cálculo do IMC:</b><br><br>

IMC=peso (kg) / altura (m) x altura (m)<br>
Exemplo: João tem 83 kg e sua altura é 1,75 m<br>
Altura x altura = 1,75 x 1,75 = 3.0625<br>
IMC = 83 divididos por 3,0625 = 27,10<br>
O resultado de 27,10 de IMC indica que João está acima do peso desejado (sobrepeso).<br><br>
							
		<br><br>
							
		<br><br>
		
		
			
    </body>
</html>
