

<!DOCTYPE html>

<html lang="en">
    <head><title>Vacinação - Postos</title>
    </head>
      
    <body>
    <h1><center><a href="@routes.Application.index()"><img src="@routes.Assets.at("img/logo.jpg")" border="0" /></a></center></h1> 
	<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3> 
	<br>	
	<br>
		<center><h2>Postos de Vacinação</h2><br></center>
		
		Encontre o Posto de Vacinação mais perto de você !
		
		<br><br><br>

		<h3>Lista dos Postos de Vacinação da Cidade do Recife</h3>
		<br>
		
		(lista de todos os postos, lida a partir do BD)
						
		<br><br><br>
		
		
			
    </body>
</html>
