

<!DOCTYPE html>

<html lang="en">
    <head><title>Vacinação - Postos</title>
    </head>
      
    <body>
    	<h1><center><a href="@routes.Application.index()">RECILIFE</a></center></h1> 
    	<br>
    	<center><img src="./public/img/logo.jpg" border="0" /></center> 
    	<br>
    	<br>
		<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3>
		<br>
		<center><h2>Postos de Vacinação</h2><br></center>
		
		(texto sobre vacinação)
		
		<br><br><br>

		<h3>Lista dos Postos de Vacinação da Cidade do Recife</h3>
		<br>
		
		(lista de todos os postos BD)
						
		<br><br><br>
		
		
			
    </body>
</html>
