

<!DOCTYPE html>

<html lang="en">
    <head>
    </head>
      
    <body>
    	<h1><a href="@routes.Application.index()">RECILIFE</a></h1> <br>
    	<img src="logo.jpg" border="0" /> <br><br>
		<h3>O seu portal sobre saúde preventiva no Recife</h3> <br><br>

		<h2>PREVENÇÃO</h2><br>
		
		(texto sobre prevenção)
		
		<br><br><br>

		<h3><a href="@routes.PrevencaoController.dengue()">Dengue</a></h3>
		<h3><a href="@routes.PrevencaoController.tabagismo()">Tabagismo</a></h3>
		<h3><a href="@routes.PrevencaoController.dst()">Doenças Sexualmente Transmissíveis</a></h3>
		<h3><a href="@routes.PrevencaoController.hipertensao()">Hipertensão</a></h3>
		<h3><a href="@routes.PrevencaoController.obesidade()">Obesidade</a></h3>
		<h3><a href="@routes.PrevencaoController.diabetes()">Diabetes</a></h3>
				
		<br><br>
		
		
			
    </body>
</html>
