

<!DOCTYPE html>

<html lang="en">
    <head><title>Prevenção</title>
    </head>
      
    <body>
    	<h1><center><a href="@routes.Application.index()">RECILIFE</a></center></h1> 
    	<br>
    	<center><img src="./public/img/logo.jpg" border="0" /></center> 
    	<br>
    	<br>
		<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3>
		<br>

		<center><h2>PREVENÇÃO</h2></center><br>
		
		(texto sobre prevenção)
		
		<br><br><br>

		<h3><a href="@routes.PrevencaoController.dengue()">Dengue</a></h3>
		<h3><a href="@routes.PrevencaoController.tabagismo()">Tabagismo</a></h3>
		<h3><a href="@routes.PrevencaoController.dst()">Doenças Sexualmente Transmissíveis</a></h3>
		<h3><a href="@routes.PrevencaoController.hipertensao()">Hipertensão</a></h3>
		<h3><a href="@routes.PrevencaoController.obesidade()">Obesidade</a></h3>
		<h3><a href="@routes.PrevencaoController.diabetes()">Diabetes</a></h3>
				
		<br><br>
		
		
			
    </body>
</html>
