

<!DOCTYPE html>

<html lang="en">
    <head><title>Prevenção</title>
    </head>
      
    <body>
    <h1><center><a href="@routes.Application.index()"><img src="@routes.Assets.at("img/logo.jpg")" border="0" /></a></center></h1> 
	<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3> 
	<br>	
	<br>
		<center><h2>PREVENÇÃO</h2></center><br>
		
		Muitas doenças podem ser amenizadas e até evitadas quando fazemos a devida prevenção. <br>
		Separamos algumas das principais doenças para lhe deixar informado! 
		
		<br><br><br>

		<h3><a href="@routes.PrevencaoController.dengue()">Dengue</a></h3>
		<h3><a href="@routes.PrevencaoController.tabagismo()">Tabagismo</a></h3>
		<h3><a href="@routes.PrevencaoController.dst()">Doenças Sexualmente Transmissíveis</a></h3>
		<h3><a href="@routes.PrevencaoController.hipertensao()">Hipertensão</a></h3>
		<h3><a href="@routes.PrevencaoController.obesidade()">Obesidade</a></h3>
		<h3><a href="@routes.PrevencaoController.diabetes()">Diabetes</a></h3>
				
		<br><br>
		
		
			
    </body>
</html>
