

<!DOCTYPE html>

<html lang="en">
    <head><title>Sobre</title>
    </head>
      
    <body>
    	<h1><center><a href="@routes.Application.index()">RECILIFE</a></center></h1> 
    	<br>
    	<center><img src="./public/img/logo.jpg" border="0" /></center> 
    	<br>
    	<br>
		<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3>
		<br>

		<center><h2>Saiba mais sobre o Recilife</h2></center><br>
		
		Esse portal está em fase de desenvolvimento. 
							
		<br><br>
		
		Desenvolvidos por alunos do curso de Licenciatura em Computação da Universidade Federal Rural de Pernambuco<br>
		o ReciLife visa facilitar o acesso do cidadão recifense a informações de como prevenir doenças, agindo de modo <br>
		preventivo, cuidando de sua saúde. <br><br>
		
		Desenvolvedores: <br>
		Alexsandro Barbosa<br>
		Emanuel Teixeira<br>
		Humberto Gondim<br><br>
		
		Professor orientador: <br>
		Kellyton Brito	
    </body>
</html>
