

<!DOCTYPE html>

<html lang="en">
    <head> <title>Sobre o ReciLife</title>
    </head>
      
    <body>
    <h3>Este site está em fase de construção e tem como desenvolvedores os alunos 
    do curso de Licenciatura em Computação da Universidade Federal Rural de Pernambuco:</h3>
		<br><br>
	<p><b> Alexsandro Barbosa, Emanuel Teixeira e Humberto Gondim </b></p>
		<br><br>
	Orientados pelo professor da disciplina de Projetos e Desenvolvimento de Software:
	<br>
		<p><b> Kellyton Brito </b></p>
			
    </body>
</html>
