

<!DOCTYPE html>

<html lang="en">
   <head><title>Prevenção-Tabagismo</title>
    </head>
      
    <body>
    <h1><center><a href="@routes.Application.index()"><img src="@routes.Assets.at("img/logo.jpg")" border="0" /></a></center></h1> 
	<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3> 
	<br>	
	<br>
		<center><h2>Tabagismo</h2><br></center>
		
		<h3>Secretaria de Saúde promove curso de capacitação para marcar o Dia Nacional de Combate ao Fumo.</h3><br>
		
		Em comemoração ao Dia Nacional de Combate ao Fumo, a Secretaria de Saúde do Recife promove, durante quatro dias, o curso de capacitação em Abordagem Mínima do Fumante.<br>
		A abertura acontece no Auditório Capiba da Prefeitura do Recife e contará com a participação dos atores do Consultório de Rua, que apresentarão um esquete sobre o tabagismo.<br><br>
		 		 
		Cerca de 80 profissionais de saúde da atenção básica, centros de assistência psicossocial, albergues terapêuticos, policlínicas e academia da cidade serão beneficiados com a iniciativa.<br>
		Serão abordados nos quatro dias de curso temas acerca do tabagismo, tabagismo passivo, política Nacional de Controle de Tabagismo e outros fatores de risco de Câncer.<br>
		Essa Abordagem beneficia até 40% dos fumantes que querem parar de fumar.<br><br>
		 
		De acordo com o Ministério da Saúde (MS), através de pesquisa vinculada a Vigilância de Fatores de Risco e Proteção para Doenças Crônicas por Inquérito Telefônico (Vigitel), o Recife vem diminuindo ano a ano o número de fumantes.<br>
		Em 1989 34,8% da população brasileira eram fumantes. Atualmente Recife conta com 12,3% da população de fumantes, abaixo da média nacional que é de 14,8%.<br><br>
		 
		A Prefeitura do Recife vem ampliando a oferta de tratamento para o fumante que deseja parar de fumar. Hoje contamos com grupos de tratamento distribuídos nos Centros de Atenção Psicossocial – CAPS para tratamento de Álcool e outras Drogas e Atenção Básica. A consulta para os locais de tratamento podem ser feitas pelo fone (81) 3355 9324.<br><br>
		 
		<h4><b>DOENÇA:</b></h4> O tabagismo é, reconhecidamente, uma doença crônica, resultante da dependência à droga nicotina, e um fator de risco para cerca de 50 doenças, dentre elas, câncer, asma, Doença Pulmonar Obstrutiva Crônica (DPOC), infecções respiratórias e doenças cardiovasculares.<br><br>
							
		<br><br>
		
		
			
    </body>
</html>
