

<!DOCTYPE html>

<html lang="en">
    <head><title>Vacinação</title>
    </head>
      
    <body>
    <h1><center><a href="@routes.Application.index()"><img src="@routes.Assets.at("img/logo.jpg")" border="0" /></a></center></h1> 
	<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3> 
	<br>	
	<br>
		<center><h2>VACINAÇÃO</h2><br></center>
		
		A vacinação como forma de prevenir doenças é reconhecida mundialmente e sua eficácia pode ser comprovada pela erradicação de doenças perigosas.<br><br>
		No Brasil, o Ministério da Saúde (MS) oferece gratuitamente algumas vacinas como: BCG, hepatite B, quádrupla (DTP e HIb), anti-pólio oral e tríplice viral.<br><br>
		Mas, a Sociedade Brasileira de Pediatria (SBP) e a Sociedade Brasileira de Imunizações (SBIm) recomendam um calendário mais completo, que incluem as vacinas contra hepatite A, catapora, gripe e pólio inativada, entre outras.<br><br>
		
		<br><br><br>

		<h3><a href="@routes.VacinacaoController.postos()">Postos de Vacinação</a></h3><br>
		<h3><a href="@routes.VacinacaoController.calendario()">Calendário de Vacinas</a></h3>
				
		<br><br><br>
		
		
			
    </body>
</html>