

<!DOCTYPE html>

<html lang="en">
    <head><title>Vacinação</title>
    </head>
      
    <body>
    	<h1><center><a href="@routes.Application.index()">RECILIFE</a></center></h1> 
    	<br>
    	<center><img src="./public/img/logo.jpg" border="0" /></center> 
    	<br>
    	<br>
		<h3><center>O seu portal sobre saúde preventiva no Recife</center></h3>
		<br>
		<center><h2>VACINAÇÃO</h2><br></center>
		
		(texto sobre vacinação)
		
		<br><br><br>

		<h3><a href="@routes.VacinacaoController.postos()">Postos de Vacinação</a></h3><br>
		<h3><a href="@routes.VacinacaoController.calendario()">Calendário de Vacinas</a></h3>
				
		<br><br><br>
		
		
			
    </body>
</html>