

<!DOCTYPE html>

<html lang="en">
    <head>
    </head>
      
    <body>
    	<h1><a href="@routes.Application.index()">RECILIFE</a></h1> <br>
    	<img src="logo.jpg" border="0" /> <br><br>
		<h3>O seu portal sobre saúde preventiva no Recife</h3> <br><br>

		<h2>VACINAÇÃO</h2><br>
		
		(texto sobre vacinação)
		
		<br><br><br>

		<h3><a href="@routes.VacinacaoController.postos()">Postos de Vacinação</a></h3><br>
		<h3><a href="@routes.VacinacaoController.calendario()">Calendário de Vacinas</a></h3>
				
		<br><br><br>
		
		
			
    </body>
</html>